<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30900">
        <setting label="30901" id="32011" type="bool" default="false"/>
        <setting label="30902" id="32012" type="number" visible="eq(-1,true)" default="4"/>
        <setting type="sep"/>
        <setting label="30914" id="32015" type="bool" default="false"/>
        <setting label="30903" id="32016" type="text" visible="eq(-1,true)" default="Standup"/>
        <setting type="sep"/>
        <setting label="30930" id="32021" type="bool" default="false"/>
        <setting label="30933" id="32024" type="bool" visible="eq(-1,true)" default="false"/>
        <setting label="30934" id="32025" type="bool" visible="eq(-2,true)" default="false"/>
        <setting type="sep"/>
        <setting label="30931" id="32019" type="bool" default="true"/>
        <setting label="30932" id="32030" type="bool" default="false"/>
    </category>
    <category label="IMDb">
        <setting label="30928" id="32020" type="bool" default="false"/>
        <setting label="30905" id="32099" type="enum" visible="eq(-1,true)" default="1" values="1|2|3|4|5"/>
        <setting label="30906" id="32050" type="text" visible="eq(-2,true)" default="http://www.imdb.com/user/ur12345678/watchlist"/>
        <setting label="30903" id="32080" type="text" visible="eq(-3,true)" default="Your Tag"/>
        <setting label="30906" id="32051" type="text" visible="gt(-3,0) + eq(-4,true)" default="http://www.imdb.com/user/ur12345678/watchlist"/>
        <setting label="30903" id="32081" type="text" visible="gt(-4,0) + eq(-5,true)" default="Your Tag"/>
        <setting label="30906" id="32052" type="text" visible="gt(-5,1) + eq(-6,true)" default="http://www.imdb.com/user/ur12345678/watchlist"/>
        <setting label="30903" id="32082" type="text" visible="gt(-6,1) + eq(-7,true)" default="Your Tag"/>
        <setting label="30906" id="32053" type="text" visible="gt(-7,2) + eq(-8,true)" default="http://www.imdb.com/user/ur12345678/watchlist"/>
        <setting label="30903" id="32083" type="text" visible="gt(-8,2) + eq(-9,true)" default="Your Tag"/>
        <setting label="30906" id="32054" type="text" visible="gt(-9,3) + eq(-10,true)" default="http://www.imdb.com/user/ur12345678/watchlist"/>
        <setting label="30903" id="32084" type="text" visible="gt(-10,3) + eq(-11,true)" default="Your Tag"/>
    </category>
    <category label="Trakt">
        <setting label="30927" id="32023" type="bool" default="false"/>
        <setting label="30917" id="32032" type="action" visible="eq(-1,true)" action="RunScript(script.tag-generator, trakt_init)"/>
        <setting label="30918" type="text" id="32031" enable="fdalse" visible="eq(-2,true)" default="-please request token-"/>
        <setting label="30921" id="32098" visible="eq(-3,true)" default="1" type="enum" values="1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|21|22|23|24|25|26|27|28|29|30|31|32|33|34|35|36|37|38|39|40"/>
        <setting label="30929" type="text" id="32560" visible="eq(-4,true)" default="TraktUser1"/>
        <setting label="30922" type="text" visible="eq(-5,true)" id="32120" default="UserList1"/>
        <setting label="30903" type="text" visible="eq(-6,true)" id="32340" default="UserTag1"/>
        <setting label="30929" type="text" visible="gt(-4,0) + eq(-7,true)" id="32561" default="TraktUser2"/>
        <setting label="30922" type="text" visible="gt(-5,0) + eq(-8,true)" id="32121" default="UserList2"/>
        <setting label="30903" type="text" visible="gt(-6,0) + eq(-9,true)" id="32341" default="UserTag2"/>
        <setting label="30929" type="text" visible="gt(-7,1) + eq(-10,true)" id="32562" default="TraktUser3"/>
        <setting label="30922" type="text" visible="gt(-8,1) + eq(-11,true)" id="32122" default="UserList3"/>
        <setting label="30903" type="text" visible="gt(-9,1) + eq(-12,true)" id="32342" default="UserTag3"/>
        <setting label="30929" type="text" visible="gt(-10,2) + eq(-13,true)" id="32563" default="TraktUser4"/>
        <setting label="30922" type="text" visible="gt(-11,2) + eq(-14,true)" id="32123" default="UserList4"/>
        <setting label="30903" type="text" visible="gt(-12,2) + eq(-15,true)" id="32343" default="UserTag4"/>
        <setting label="30929" type="text" visible="gt(-13,3) + eq(-16,true)" id="32564" default="TraktUser5"/>
        <setting label="30922" type="text" visible="gt(-14,3) + eq(-17,true)" id="32124" default="UserList5"/>
        <setting label="30903" type="text" visible="gt(-15,3) + eq(-18,true)" id="32344" default="UserTag5"/>
        <setting label="30929" type="text" visible="gt(-16,4) + eq(-19,true)" id="32565" default="TraktUser6"/>
        <setting label="30922" type="text" visible="gt(-17,4) + eq(-20,true)" id="32125" default="UserList6"/>
        <setting label="30903" type="text" visible="gt(-18,4) + eq(-21,true)" id="32345" default="UserTag6"/>
        <setting label="30929" type="text" visible="gt(-19,5) + eq(-22,true)" id="32566" default="TraktUser7"/>
        <setting label="30922" type="text" visible="gt(-20,5) + eq(-23,true)" id="32126" default="UserList7"/>
        <setting label="30903" type="text" visible="gt(-21,5) + eq(-24,true)" id="32346" default="UserTag7"/>
        <setting label="30929" type="text" visible="gt(-22,6) + eq(-25,true)" id="32567" default="TraktUser8"/>
        <setting label="30922" type="text" visible="gt(-23,6) + eq(-26,true)" id="32127" default="UserList8"/>
        <setting label="30903" type="text" visible="gt(-24,6) + eq(-27,true)" id="32347" default="UserTag8"/>
        <setting label="30929" type="text" visible="gt(-25,7) + eq(-28,true)" id="32568" default="TraktUser9"/>
        <setting label="30922" type="text" visible="gt(-26,7) + eq(-29,true)" id="32128" default="UserList9"/>
        <setting label="30903" type="text" visible="gt(-27,7) + eq(-30,true)" id="32348" default="UserTag9"/>
        <setting label="30929" type="text" visible="gt(-28,8) + eq(-31,true)" id="32569" default="TraktUser10"/>
        <setting label="30922" type="text" visible="gt(-29,8) + eq(-32,true)" id="32129" default="UserList10"/>
        <setting label="30903" type="text" visible="gt(-30,8) + eq(-33,true)" id="32349" default="UserTag10"/>
        <setting label="30929" type="text" visible="gt(-31,9) + eq(-34,true)" id="32561" default="TraktUser11"/>
        <setting label="30922" type="text" visible="gt(-32,9) + eq(-35,true)" id="32121" default="UserList11"/>
        <setting label="30903" type="text" visible="gt(-33,9) + eq(-36,true)" id="32341" default="UserTag11"/>
        <setting label="30929" type="text" visible="gt(-34,10) + eq(-37,true)" id="32562" default="TraktUser12"/>
        <setting label="30922" type="text" visible="gt(-35,10) + eq(-38,true)" id="32122" default="UserList12"/>
        <setting label="30903" type="text" visible="gt(-36,10) + eq(-39,true)" id="32342" default="UserTag12"/>
        <setting label="30929" type="text" visible="gt(-37,11) + eq(-40,true)" id="32563" default="TraktUser13"/>
        <setting label="30922" type="text" visible="gt(-38,11) + eq(-41,true)" id="32123" default="UserList13"/>
        <setting label="30903" type="text" visible="gt(-39,11) + eq(-42,true)" id="32343" default="UserTag13"/>
        <setting label="30929" type="text" visible="gt(-40,12) + eq(-43,true)" id="32564" default="TraktUser14"/>
        <setting label="30922" type="text" visible="gt(-41,12) + eq(-44,true)" id="32124" default="UserList14"/>
        <setting label="30903" type="text" visible="gt(-42,12) + eq(-45,true)" id="32344" default="UserTag14"/>
        <setting label="30929" type="text" visible="gt(-43,13) + eq(-46,true)" id="32565" default="TraktUser15"/>
        <setting label="30922" type="text" visible="gt(-44,13) + eq(-47,true)" id="32125" default="UserList15"/>
        <setting label="30903" type="text" visible="gt(-45,13) + eq(-48,true)" id="32345" default="UserTag15"/>
        <setting label="30929" type="text" visible="gt(-46,14) + eq(-49,true)" id="32566" default="TraktUser16"/>
        <setting label="30922" type="text" visible="gt(-47,14) + eq(-50,true)" id="32126" default="UserList16"/>
        <setting label="30903" type="text" visible="gt(-48,14) + eq(-51,true)" id="32346" default="UserTag16"/>
        <setting label="30929" type="text" visible="gt(-49,15) + eq(-52,true)" id="32567" default="TraktUser17"/>
        <setting label="30922" type="text" visible="gt(-50,15) + eq(-53,true)" id="32127" default="UserList17"/>
        <setting label="30903" type="text" visible="gt(-51,15) + eq(-54,true)" id="32347" default="UserTag17"/>
        <setting label="30929" type="text" visible="gt(-52,16) + eq(-55,true)" id="32568" default="TraktUser18"/>
        <setting label="30922" type="text" visible="gt(-53,16) + eq(-56,true)" id="32128" default="UserList18"/>
        <setting label="30903" type="text" visible="gt(-54,16) + eq(-57,true)" id="32348" default="UserTag18"/>
        <setting label="30929" type="text" visible="gt(-55,17) + eq(-58,true)" id="32569" default="TraktUser19"/>
        <setting label="30922" type="text" visible="gt(-56,17) + eq(-59,true)" id="32129" default="UserList19"/>
        <setting label="30903" type="text" visible="gt(-57,17) + eq(-60,true)" id="32349" default="UserTag19"/>
        <setting label="30929" type="text" visible="gt(-58,18) + eq(-61,true)" id="32569" default="TraktUser20"/>
        <setting label="30922" type="text" visible="gt(-59,18) + eq(-62,true)" id="32129" default="UserList20"/>
        <setting label="30903" type="text" visible="gt(-60,18) + eq(-63,true)" id="32349" default="UserTag20"/>
        <setting label="30929" type="text" visible="gt(-61,19) + eq(-64,true)" id="32561" default="TraktUser21"/>
        <setting label="30922" type="text" visible="gt(-62,19) + eq(-65,true)" id="32121" default="UserList21"/>
        <setting label="30903" type="text" visible="gt(-63,19) + eq(-66,true)" id="32341" default="UserTag21"/>
        <setting label="30929" type="text" visible="gt(-64,20) + eq(-67,true)" id="32562" default="TraktUser22"/>
        <setting label="30922" type="text" visible="gt(-65,20) + eq(-68,true)" id="32122" default="UserList22"/>
        <setting label="30903" type="text" visible="gt(-66,20) + eq(-69,true)" id="32342" default="UserTag22"/>
        <setting label="30929" type="text" visible="gt(-67,21) + eq(-70,true)" id="32563" default="TraktUser23"/>
        <setting label="30922" type="text" visible="gt(-68,21) + eq(-71,true)" id="32123" default="UserList23"/>
        <setting label="30903" type="text" visible="gt(-69,21) + eq(-72,true)" id="32343" default="UserTag23"/>
        <setting label="30929" type="text" visible="gt(-70,22) + eq(-73,true)" id="32564" default="TraktUser24"/>
        <setting label="30922" type="text" visible="gt(-71,22) + eq(-74,true)" id="32124" default="UserList24"/>
        <setting label="30903" type="text" visible="gt(-72,22) + eq(-75,true)" id="32344" default="UserTag24"/>
        <setting label="30929" type="text" visible="gt(-73,23) + eq(-76,true)" id="32565" default="TraktUser25"/>
        <setting label="30922" type="text" visible="gt(-74,23) + eq(-77,true)" id="32125" default="UserList25"/>
        <setting label="30903" type="text" visible="gt(-75,23) + eq(-78,true)" id="32345" default="UserTag25"/>
        <setting label="30929" type="text" visible="gt(-76,24) + eq(-79,true)" id="32566" default="TraktUser26"/>
        <setting label="30922" type="text" visible="gt(-77,24) + eq(-80,true)" id="32126" default="UserList26"/>
        <setting label="30903" type="text" visible="gt(-78,24) + eq(-81,true)" id="32346" default="UserTag26"/>
        <setting label="30929" type="text" visible="gt(-79,25) + eq(-82,true)" id="32567" default="TraktUser27"/>
        <setting label="30922" type="text" visible="gt(-80,25) + eq(-83,true)" id="32127" default="UserList27"/>
        <setting label="30903" type="text" visible="gt(-81,25) + eq(-84,true)" id="32347" default="UserTag27"/>
        <setting label="30929" type="text" visible="gt(-82,26) + eq(-85,true)" id="32568" default="TraktUser28"/>
        <setting label="30922" type="text" visible="gt(-83,26) + eq(-86,true)" id="32128" default="UserList28"/>
        <setting label="30903" type="text" visible="gt(-84,26) + eq(-87,true)" id="32348" default="UserTag28"/>
        <setting label="30929" type="text" visible="gt(-85,27) + eq(-88,true)" id="32569" default="TraktUser29"/>
        <setting label="30922" type="text" visible="gt(-86,27) + eq(-89,true)" id="32129" default="UserList29"/>
        <setting label="30903" type="text" visible="gt(-87,27) + eq(-90,true)" id="32349" default="UserTag29"/>
        <setting label="30929" type="text" visible="gt(-88,28) + eq(-91,true)" id="32569" default="TraktUser30"/>
        <setting label="30922" type="text" visible="gt(-89,28) + eq(-92,true)" id="32129" default="UserList30"/>
        <setting label="30903" type="text" visible="gt(-90,28) + eq(-93,true)" id="32349" default="UserTag30"/>
        <setting label="30929" type="text" visible="gt(-91,29) + eq(-94,true)" id="32561" default="TraktUser31"/>
        <setting label="30922" type="text" visible="gt(-92,29) + eq(-95,true)" id="32121" default="UserList31"/>
        <setting label="30903" type="text" visible="gt(-93,29) + eq(-96,true)" id="32341" default="UserTag31"/>
        <setting label="30929" type="text" visible="gt(-94,30) + eq(-97,true)" id="32562" default="TraktUser32"/>
        <setting label="30922" type="text" visible="gt(-95,30) + eq(-98,true)" id="32122" default="UserList32"/>
        <setting label="30903" type="text" visible="gt(-96,30) + eq(-99,true)" id="32342" default="UserTag32"/>
        <setting label="30929" type="text" visible="gt(-97,31) + eq(-100,true)" id="32563" default="TraktUser33"/>
        <setting label="30922" type="text" visible="gt(-98,31) + eq(-101,true)" id="32123" default="UserList33"/>
        <setting label="30903" type="text" visible="gt(-99,31) + eq(-102,true)" id="32343" default="UserTag33"/>
        <setting label="30929" type="text" visible="gt(-100,32) + eq(-103,true)" id="32564" default="TraktUser34"/>
        <setting label="30922" type="text" visible="gt(-101,32) + eq(-104,true)" id="32124" default="UserList34"/>
        <setting label="30903" type="text" visible="gt(-102,32) + eq(-105,true)" id="32344" default="UserTag34"/>
        <setting label="30929" type="text" visible="gt(-103,33) + eq(-106,true)" id="32565" default="TraktUser35"/>
        <setting label="30922" type="text" visible="gt(-104,33) + eq(-107,true)" id="32125" default="UserList35"/>
        <setting label="30903" type="text" visible="gt(-105,33) + eq(-108,true)" id="32345" default="UserTag35"/>
        <setting label="30929" type="text" visible="gt(-106,34) + eq(-109,true)" id="32566" default="TraktUser36"/>
        <setting label="30922" type="text" visible="gt(-107,34) + eq(-110,true)" id="32126" default="UserList36"/>
        <setting label="30903" type="text" visible="gt(-108,34) + eq(-111,true)" id="32346" default="UserTag36"/>
        <setting label="30929" type="text" visible="gt(-109,35) + eq(-112,true)" id="32567" default="TraktUser37"/>
        <setting label="30922" type="text" visible="gt(-110,35) + eq(-113,true)" id="32127" default="UserList37"/>
        <setting label="30903" type="text" visible="gt(-111,35) + eq(-114,true)" id="32347" default="UserTag37"/>
        <setting label="30929" type="text" visible="gt(-112,36) + eq(-115,true)" id="32568" default="TraktUser38"/>
        <setting label="30922" type="text" visible="gt(-113,36) + eq(-116,true)" id="32128" default="UserList38"/>
        <setting label="30903" type="text" visible="gt(-114,36) + eq(-117,true)" id="32348" default="UserTag38"/>
        <setting label="30929" type="text" visible="gt(-115,37) + eq(-118,true)" id="32569" default="TraktUser39"/>
        <setting label="30922" type="text" visible="gt(-116,37) + eq(-119,true)" id="32129" default="UserList39"/>
        <setting label="30903" type="text" visible="gt(-117,37) + eq(-120,true)" id="32349" default="UserTag39"/>
        <setting label="30929" type="text" visible="gt(-118,38) + eq(-121,true)" id="32569" default="TraktUser40"/>
        <setting label="30922" type="text" visible="gt(-119,38) + eq(-122,true)" id="32129" default="UserList40"/>
        <setting label="30903" type="text" visible="gt(-120,38) + eq(-123,true)" id="32349" default="UserTag40"/>
    </category>
    <category label="Misc">
        <setting label="30913" id="32027" type="action" action="RunScript(script.tag-generator, imdb)"/>
        <setting label="30920" id="32032" type="action" action="RunScript(script.tag-generator, trakt)"/>
        <setting label="30926" id="32022" type="action" action="RunScript(script.tag-generator, awards)"/>
        <setting label="30914" id="32028" type="action" action="RunScript(script.tag-generator, standup)"/>
        <setting label="30915" id="32017" type="action" action="RunScript(script.tag-generator, manual)"/>
        <setting label="30916" id="32018" type="action" action="RunScript(script.tag-generator, wipeout)"/>
    </category>
</settings>

